@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* navbar */
nav {
  height: 70px;
  width: 70vw;
  background-color: rgba(177, 89, 26, 0.842);
  border-radius: 0 0 10px 10px;
  font-size: 18px;
  position: absolute;
  transform: translateX(20%);
  z-index: 1;
}

nav label {
  position: absolute;
  margin: 15px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(107, 13, 13);
  font-family: "Dancing Script", cursive;
}

nav ul {
  float: right;
  padding: 3px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 20px;
  color: rgb(107, 13, 13);
}

nav ul li a:hover {
  background-color: brown;
  color: white;
}

nav ul li .dropdown {
  display: none;
}

nav ul li:hover .dropdown {
  display: flex;
  flex-direction: column;
  background-color: rgba(177, 89, 26, 0.842);
}

/* banner */
.banner {
  background: url(./img/banner.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.banner .welcome {
  font-size: 25px;
  width: 30%;
  transform: translate(40%, 45%);
  background-color: rgba(255, 255, 255, 0.459);
  padding: 30px;
  border-radius: 30px;
  border: 5px solid rgba(177, 89, 26, 0.842);
  color: rgb(177, 89, 26);
}

.banner .welcome .kelebihan {
  margin-top: 20px;
}

.banner h2 {
  font-size: 30px;
  transform: translate(20vw, 30vh);
  width: 20vw;
  text-align: center;
  padding: 10px;
  border-radius: 30px;
  background-color: rgba(223, 203, 149, 0.747);
  color: rgb(177, 89, 26);
  border: 2px solid;
  transition: 0.5s;
}

.banner h2:hover {
  background-color: chocolate;
  color: white;
  box-shadow: 0 0 10px 0;
  transition: 0.5s;
}

/* tombolup */
.tombolup {
  position: sticky;
  width: 5%;
  top: 88vh;
}

/* about */
#about {
  display: flex;
  height: 40vh;
  width: 80vw;
  margin: auto;
  border-radius: 30px;
  background-color: chocolate;
}

#about .kami {
  width: 60vw;
  margin: auto;
  font-size: 20px;
}

#about .kami p {
  margin-top: 20px;
}

/* slideimage */
#boxslide {
  padding-top: 60px;
  margin-bottom: 60px;
  display: flex;
  height: 85vh;
  justify-content: center;
}

#boxslide .slideimage .slidehead {
  text-align: center;
  font-size: 40px;
}

#boxslide .slide {
  box-shadow: 0 0 30px 0;
}

#boxslide .slide .mySlides {
  margin-top: 30px;
  width: 65vw;
  height: 70vh;
}

/* keunggulan */
.box {
  width: 90vw;
  border-top: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  border-radius: 50px 50px 0 0;
  margin: auto;
  color: rgb(177, 89, 26);
  background-color: rgba(223, 203, 149, 0.747);
}

.headunggul {
  text-align: center;
  font-size: 40px;
  margin: 40px;
}

.keunggulan {
  display: flex;
  justify-content: space-evenly;
}

.keunggulan .cardunggul {
  width: 40vh;
  text-align: center;
  margin-bottom: 30px;
}

.keunggulan .cardunggul img {
  width: 50%;
}

/* footer */
footer {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: rgba(177, 89, 26, 0.842);
  color: rgb(107, 13, 13);
}

footer h3 {
  border-top: 1px solid;
  font-size: 15px;
}

@media only screen and (max-width: 400px) {
  /* navbar */
  nav {
    height: 120px;
    width: 80vw;
    transform: translateX(7vw);
    border-radius: 0;
  }

  nav label {
    position: absolute;
    margin-top: 25px;
    margin-left: 20vw;
  }

  nav ul {
    margin-top: 75px;
    margin-right: 5px;
  }

  nav ul li a {
    padding: 5px;
    font-size: 13px;
  }

  nav ul li:hover .dropdown {
    margin: 0;
  }

  /* banner */
  .banner .welcome {
    font-size: 12px;
    width: 50vw;
    transform: translate(12vw, 38vh);
  }

  .banner h2 {
    font-size: 15px;
    width: 40vw;
    transform: translate(24vw, 45vh);
  }

  /* about */
  #about{
    height: 250px;
  }

  #about .kami {
    width: 60vw;
    margin: auto;
    font-size: 12px;
  }

  #boxslide .slideimage .slidehead {
    font-size: 33px;
  }

  #boxslide .slide .mySlides {
    margin-top: 45px;
    width: 80vw;
    height: 200px;
  }

  /* tombolup */
  .tombolup {
    width: 15%;
    margin-left: 1vw;
  }

  /* keunggulan */
  .box{
    margin-top: -38vh;
  }

  .headunggul{
    font-size: 24px;
  }

  .keunggulan {
    flex-direction: column;
    width: 265px;
    margin: auto;
  }

  .keunggulan .cardunggul {
    margin-bottom: 50px;
  }
  
  .keunggulan .cardunggul img {
    width: 70%;
  }
}
