@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* navbar */
nav {
  height: 70px;
  width: 70vw;
  background-color: rgba(177, 89, 26, 0.842);
  border-radius: 0 0 10px 10px;
  font-size: 18px;
  position: absolute;
  transform: translateX(20%);
  z-index: 1;
}

nav label {
  position: absolute;
  margin: 15px;
  font-size: 30px;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  color: white;
}

nav ul {
  float: right;
  padding: 3px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 20px;
  color: white;
}

nav ul li a:hover {
  background-color: brown;
  color: white;
}

nav ul li .dropdown {
  display: none;
}

nav ul li:hover .dropdown {
  display: flex;
  flex-direction: column;
  background-color: rgba(177, 89, 26, 0.842);
}

/* list kue */
.header {
  padding-top: 120px;
  font-size: 50px;
  text-align: center;
  color: chocolate;
}

.container {
  width: 98.5vw;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-evenly;
}

.container .card {
  height: 50vh;
  width: 25vw;
  margin: 30px;
  text-align: center;
  border: 1px solid;
  border-radius: 15px;
  box-shadow: 10px 10px 15px 0;
}

.container .card:hover {
  transform: translateY(-8%);
  transition: 0.5s;
}

.container .card h2 {
  font-size: 180%;
  margin-top: 20px;
}

.container .card img {
  width: 100%;
  height: 70%;
  border-radius: 15px 15px 0 0;
}

/* order */
.order {
  position: fixed;
  bottom: 5px;
  right: 5px;
  background-color: rgba(223, 203, 149, 0.747);
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 2px solid rgb(177, 89, 26);
}

.order p{
font-size: 20px;
color: rgb(177, 89, 26);
font-weight: 500;
padding: 10px;
}

.order .dropup{
  display: none;
}

.order .dropup ul{
  width: 160px;
  padding-top: 15px;
  display: flex;
}

.order .dropup ul li a img{
  width: 50%;
  justify-content: space-around;
}

.order .dropup ul li a img:hover{
  transform: rotate(1turn);
  transition: 1s;
}

.order:hover .dropup{
  display: block;
}

/* pesos */
.pesos {
  margin-top: 10vh;
  text-align: center;
}

.pesos .sosmed {
  text-align: center;
  margin-top: 20px;
}

.pesos .sosmed img {
  width: 4%;
  margin: 10px;
}

.pesos .sosmed img:hover {
  transform: rotate(1turn);
  transition: 1s;
}

/* footer */
footer {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: rgba(177, 89, 26, 0.842);
  color: rgb(107, 13, 13);
}

footer h3 {
  border-top: 1px solid;
  font-size: 15px;
}

@media only screen and (max-width: 400px) {
  /* navbar */
  .boxnav{
    display: flex;
    justify-content: center;
  }
  nav {
    height: 120px;
    width: 80vw;
    transform: translateX(0);
    border-radius: 0;
    display: flex;
  }

  nav label {
    position: absolute;
    margin-top: 25px;
    margin-left: 20vw;
  }

  nav ul {
    margin: auto;
    margin-top: 82px;
  }

  nav ul li a {
    padding: 5px;
    font-size: 13px;
  }

  nav ul li:hover .dropdown {
    margin: 0;
  }

  /* list kue */
  .header{
    padding-top: 150px;
    font-size: 35px;
  }
  .container {
    margin: auto;
  }

  .container .card {
    height: 50vh;
    width: 77vw;
  }

  .container .card h2 {
    margin-top: 10px;
  }

  .pesos .sosmed img {
    width: 13%;
  }

  /* order */
  .order p{
    padding: 20px;
  }
}
